
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background-size: cover;*/
}

.container{
   padding:0;
   margin:0;
   height: 40px;
   bottom: 0px;
   position: fixed;
   background-color: DarkOliveGreen;
   color: white;
   padding-top: 10px;
   width: 100%;
}

.banner {
    height: 100px;
    background-color: Gainsboro;
    color: white;
    text-align: center;
    font-size: 65px;
    font-weight: normal;
    letter-spacing: 3px;
    margin: 0;
    padding: 0px 0px 0px 0px;
    text-shadow: #444 1px 1px 1px;
}

.top-navigation {
    background-color: DarkOliveGreen;
    overflow: hidden;
}

.top-navigation a {
  float: left;
  color: #f2f2f2;/*
  background-color: MediumAquaMarine;*/
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.top-navigation a:hover {
  background-color: Olive;
  color: black;
}

.center {
    text-align:center;
}

.left {
    float: left;
}
:root {
  --color-white: #fff;
  --color-black: #333;
  --color-gray: #75787b;
  --color-gray-light: #bbb;
  --color-gray-disabled: #e8e8e8;
  --color-green: #53a318;
  --color-green-dark: #383;
  --font-size-small: .75rem;
  --font-size-default: .875rem;
}

* {
  box-sizing: border-box;
}


section {
  margin-bottom: 2rem;
}

h1 {
    height: 200px;
    background: DarkSeaGreen;
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    letter-spacing: 3px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-shadow: #444 0 1px 1px;
}
h2 {
   color: white;
   text-align: center;
   font-size: 18px;
   line-height: 1.5;
   font-weight: 400;
   text-transform: uppercase;
   letter-spacing: 3px;
   margin: 10px 5px 5px 5px;
   padding: 0px 0px 0px 0px;
 }
h3 {
  color: white;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 10px 5px 5px 5px;
  padding: 0px 0px 0px 0px;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
img {
    text-align: left;
    width:  250px;
    height: auto;
    object-fit: cover;
}
.error {
     height: 200px;
     background: Red;
     color: white;
     text-align: center;
     font-size: 50px;
     font-weight: normal;
     letter-spacing: 3px;
     margin: 0px 0px 0px 0px;
     padding: 0px 0px 0px 0px;
     text-shadow: #444 0 1px 1px;
 }
.buttonContainerCol{
     padding: 5px;
     margin: 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     /*justify-content: space-between;*/;
     align-items: stretch;
     font: #fff;
 }
.btnRight{
   width: 75%;
   height: 50px;
   border: none;
   border-radius: 10px;
   outline: none;

   display: flex;
   flex-direction: column;
   justify-content: center;

   font-size: 16px;
   text-align:center;
   color: #fff;
   background-color: Olive; /**/
   cursor: pointer;
   transition: .3s ease-in-out;
   align-self: center;
}
.btnRight:hover {
    background-color: DarkOliveGreen;
}
.button{
   width: 25%;
   height: 50px;
   border: none;
   border-radius: 10px;
   outline: none;
   font-size: 16px;
   text-align:center;
   color: #fff;
   background-color: Olive; /**/
   cursor: pointer;
   transition: .3s ease-in-out;
}
.button:hover {
    background-color: DarkOliveGreen;
}
.btnBottom{
   width: 25%;
   height: 50px;
   border: none;
   border-radius: 10px;
   outline: none;

   margin: 5px;
   padding: 10px;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-self: center;

   font-size: 16px;
   font-color: white;
   text-align: center;
   color: #fff;
   background-color: Olive; /**/
   cursor: pointer;
   transition: .3s ease-in-out;
}
.btnBottom:hover {
     background-color: DarkOliveGreen;
 }


.lbl {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #fff;
}

.txt {
    width: 25%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
}

.mainContainer{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*justify-content: space-between;*/;
    align-items: center; /*flex-start, flex-end, stretch, base-line*/
}
.mainContainerItem{
    margin: 0;
    padding: 0;
    flex-grow: 1;
    width: 60%;
    /*flex-basis: 100%*/
}
.mainContainerItemBody{
    margin: 10px;
    padding: 0;
    /*align-self: center;*/

    background: rgba(0,0,0,0.5);
    border-radius:10px;
}

.buttonContainerRow{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*justify-content: space-between;*/
    align-items: stretch;
}
.buttonContainerCol{
     padding: 0;
     margin: 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     /*justify-content: space-between;*/;
     align-items: stretch;
     font: #fff;
 }


