<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.og">
<head>
    <meta charset="UTF-8">
    <title>Vitality activities</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
          th:href="@{/css/create-album.css}">
</head>
<body>

<div th:replace="fragments/banner.html :: formField(mainHeading='Welcome User!')"></div>
<div class="navigation" th:replace="fragments/navigation :: navigation-bar"></div>

<div class="box">
    <div class="center">
        <form th:object="${album}" th:action="@{/create-album/{id}(id=${user.userAccountId})}" method="post">
            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <p th:text="#{album.hasErrors}">Error Message</p>
            </div>
            <table class="table">
                <tr>
                    <td>
                        <h3>Create Album</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="lbl" for="album-name">Album name: </label><br>
                        <input class="txt" type="text" id="album-name" th:field="*{albumName}"><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="button">Create Album</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>


<div class="footer" th:replace="fragments/footer :: footer">
    <p>footer</p>
</div>
</body>
</html>