<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.og">
<head>
    <meta charset="UTF-8">
    <title>Vitality activities</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
          th:href="@{/css/general_style.css}">
</head>
<body>
<div th:replace="fragments/banner.html :: formField(mainHeading='Hello '+ ${user.name})"></div>
<div class="navigation" th:replace="fragments/navigation :: member-navigation-bar"></div>
<div th:if="${couldNotCreateTag != null}" class="alert alert-danger">
    <p th:text="#{couldNotCreateTag.hasErrors}">Error Message</p>
</div>

<div class="center">
    <img th:src="${photo.photoLink}">
</div>
<div th:if="${ownedPhoto != null}" class="center">
    <h3>Please enter the email address of the person that you want to share this file to</h3>
    <form th:action="@{/share-photo/{id}/{photoId}(id=${user.userAccountId}, photoId=${photo.photoId})}" method="post">
        <label for="email">Email: </label>
        <input type="email" id="email" name="email"><br><br>
        <button type="submit" class="button">Share Image</button>
        <!--    <a class="button" type="button" th:href="@{/share-photo/{id}/{photoId}(id=${user.userAccountId}, photoId=${photo.photoId})}">Create Album</a>-->
    </form>
</div>
<div th:if="${user.albums.size() > 0}" class="center">
    <form th:action="@{/move-to-album/{id}/{photoId}(id=${user.userAccountId}, photoId=${photo.photoId})}"
          method="post">
        <h3>Choose album that you want to move the image to</h3>
        <select id="albumName" name="albumName">
            <option th:each="album : ${user.albums}"
                    th:text="${album.albumName}"
                    th:value="${album.albumName}"
                    th:selected="${albumName == album.albumName}">
            </option>
        </select>
        <br>
        <br>
        <button type="submit" class="button">Add Image To Album</button>
        <br>
    </form>
</div>
<div class="center">
    <br>
    <a class="button" type="button"
       th:href="${photo.photoLink}" download="Pic.jpg">Download Photo</a>
    <br>
</div>
<div class="center">
    <br>
    <a class="button" type="button"
       th:href="@{/edit-photo-data/{id}/{photoId}(id=${user.userAccountId}, photoId=${photo.photoId})}">Edit Photo Data</a>
    <br>
</div>
<div class="center">
    <br>
    <a class="button" type="button"
       th:href="@{/delete-photo/{id}/{photoId}(id=${user.userAccountId}, photoId=${photo.photoId})}">Delete Photo</a>
    <br>
</div>
<div class="container" th:replace="fragments/footer :: footer">
    <p>footer</p>
</div>
</body>
</html>